

<meta name="viewport" content="width=device-width, initial-scale=1">
        
 

    
    <div class="container">
        <h4>{{name}}</h4>
    <img  src="{{imageUrl}}" alt="Avatar" class="image">
    <div class="overlay">
        <div    class="text"><a href="/posts/details/{{_id}}">{{name}}</a></div>
    </div>
    
    </div>

