
  <!-- Add icon library -->


  
<form action="/users/profile" method="post" enctype="multipart/form-data">

<label for="">Full name</label>
<input type="text" name="fullname"  >

<label for="">Bio</label>
<input type="text" name="bio" >

<label for="">Image</label>
<input type="file" name="imageUrl" >

<button type="submit">Add Profile</button>

</form>