<h2>Edit Posts</h2>

<form action="/posts/edit/{{_id}}" method="post"  enctype="multipart/form-data"  >

<label for="">Post Name</label>
<input type="text" name="name" value="{{name}}">

<label for="">Description</label>
<input type="text" name="description" value="{{description}}">

<label for="">Image</label>
<input type="file" name="imageUrl" value="{{imageUrl}}">

<button type="submit">Edit Submit</button>
