<h2>Add a New Post</h2>

<form action="/posts/newPost" method="post" enctype="multipart/form-data">

<label for="">Post Name</label>
<input type="text" name="name">

<label for="">Description</label>
<input type="text" name="description">

<label for="">Image</label>
<input type="file" name="imageUrl">

<button type="submit">Add Post</button>

</form>

 